@charset "utf-8";
/* CSS Document */
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #F2F2F2;
	text-align: center;
	color: #212121;
}
p {
	font-size: 16;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	font-size: 96px;
}
h2{
	margin-bottom: 50px;
}
a:link {
	color:#8B0000;
	font-weight: bold;
	text-decoration: none;
	
}
a:visited {
	color:#8B0000;
	font-weight: bold;
	text-decoration: none;
}
.footer{
	font-size: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	
}
#credit{
	font-size: 75%;
	margin-top: 80px;
	margin-bottom: 60px;
}
img.spacer{
	padding: 1px;
	margin: 1px;
}
nav>p {
	font-size: 24px;
	padding: 5px;
	margin: auto;
	margin-top: 1px;
	margin-botom: 1px;
	width: 250px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
address {
	text-align: left;
	width: 300px;
	margin: auto;
}
#me {
	border: solid #212121;
	padding: 2px;
}
nav>table {
	width: 400px;
	margin: auto;
}
td{
	width: 520px;
	margin: auto;
	vertical-align: top;
}
.picdesc{
	width: 95%;
	text-align: justify;
}
table{
	margin: auto;
}
.pics{
	margin-top: 10px;
	margin-bottom: 10px;
}
.sitepics{
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid #212121;
}

