@charset "utf-8";
/* CSS Document */
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #F2F2F2;
	text-align: center;
	color: #212121;
}
p {
	font-size: 16;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	font-size: 96px;
}
